<div class="dashboard-aside active">
	<div class="dashboard-image-container">
		<div class="dashboard-aside-container">
			<h5>{{currentDate}}<h5>
			<h2>{{greeting}} {{user.firstName}}</h2>
			<h3>You have 3 sessions today</h3>
		</div>
	</div>
	<div class="dashboard-nav-links">
		<div class="dashboard-nav-links-container">
			<ul>
				<li ng-click="goToState('trainer')" ng-class="{activeLink: currentState === 'trainer'}"><i class="fa fa-dashboard fa-lg"></i>Dashboard</li>
				<li ng-click="goToState('clientList')" ng-class="{activeLink: currentState === 'clientList'}"><i class="fa fa-clients fa-lg"></i>Clients</li>
				<li><i class="fa fa-calendar fa-lg"></i>Schedule</li>
				<li ng-click="goToState('settings')" ng-class="{activeLink: currentState === 'settings'}"><i class="fa fa-settings fa-lg"></i>Settings</li>
			</ul>
		</div>
	</div>
	<div class="logout">

		<img src={{user.fitbit.user.avatar}} alt="Profile Image">
		<span>{{user.firstName}} {{user.lastName}}<p><a ui-sref="marketing">Logout</a></p></span>
	</div>

</div>
<div class="dashboard-nav">
	<div class="nav-logout">
		<img src="../img/users/user-seven.jpg">
		<p><a href="#">Logout</a></p>
	</div>
	<i class="fa fa-logo fa-2x dashboard-logo"></i>
		<div class="toggle-container">
			<i class="fa fa-menu fa-2x dashboard-toggle toggle-nav"></i>
		</div>
	<button class="dashboard-navbutton" ng-click="open()" ng-show="{{currentState == 'clientList' || currentState == 'trainer'}}" >Add A New Client</button>
</div>


<div class="modal" tabindex="-1" role="dialog" aria-labelledby="...">
  ...
</div>


<div id="preload">
   <img src="../img/giffy/giffy1.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy2.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy3.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy4.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy5.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy6.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy7.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy8.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy9.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy10.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy11.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy12.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy13.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy14.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy15.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy16.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy17.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy18.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy19.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy20.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy21.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy22.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy23.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy24.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy25.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy26.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy27.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy28.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy29.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy30.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy31.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy32.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy33.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy34.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy35.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy36.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy37.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy38.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy39.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy40.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy41.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy42.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy43.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy44.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy45.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy46.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy47.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy48.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy49.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy50.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy51.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy52.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy53.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy54.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy55.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy56.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy57.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy58.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy59.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy60.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy61.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy62.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy63.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy64.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy65.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy66.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy67.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy68.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy69.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy70.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy71.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy72.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy73.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy74.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy75.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy76.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy77.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy78.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy79.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy80.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy81.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy82.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy83.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy84.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy85.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy86.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy87.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy88.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy89.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy90.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy91.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy92.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy93.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy94.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy95.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy96.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy97.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy98.png" width="1" height="1" alt="Image 03" />
   <img src="../img/giffy/giffy99.png" width="1" height="1" alt="Image 01" />
   <img src="../img/giffy/giffy100.png" width="1" height="1" alt="Image 02" />
   <img src="../img/giffy/giffy101.png" width="1" height="1" alt="Image 03" />
</div>


<script>

	$(document).ready(function() {

	    $('.toggle-nav').click(function() {
	        $('.dashboard-aside').toggleClass('active');
	 	});

	});

</script>
