.modalbox {
	font-family: "proxima nova", "helvetica neue", sans-serif;
}
.cleintInfoModal{
	display: flex;
}
.modal-dialog {
	margin-top: 12%;
}

.modalbox h1 {
	font-family: "Dharma-ExLight";
	color: #91d000;
}

.newClientHeader {
	background-color: #1B2224;
	width: 100%;
	text-align: center;
	padding: 20px 0 10px 0;
	text-transform: uppercase;
}

.newClientFormContainer {
	padding: 5px 40px 20px 40px;
}

.modal-content {
	border-radius: 0;
}

.modalButton {
  background-color: #91d000;
  box-shadow: none;
  border: none;
  display: block;
  padding: 15px 40px;
  margin: 0 auto;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 15px;

}

.modalButton:disabled{
	background-color: rgb(179, 179, 179);
	color: black;
}





.clientAddForm:focus {
	outline: none;
	border: 2px solid #91d000;
}

.addClientForm {
	border-top: none;
}

.formHalf {
	width: 50%;
}
.clientInfoAside{
	width: 40%;
	background-color: #1b2224;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 20px 0px;
}
.clientInfoAside h1{
	letter-spacing: 1px;
	font-size: 2.5rem;
	margin-top: 10px;
}
.clientInfoAside h2{
	font-family: "proxima-nova";
	font-size:1rem;
	letter-spacing: 1.5px;
	font-weight: 100;
}
.clientInfoAside img{
	border-radius: 100%;
}
.clientInfoStatus{
	width: 60%;
	position: relative;
}
.clientInfoModalBackground{
	width: 100%;
	height: 100%;
	background-image: url('/img/modalbackgroound.png');
	background-size: cover;
	opacity: 0.2;
	position: absolute;
	z-index: 0;
}
.clientInfoStatusContent{
	font-family: "proxima-nova";
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clientInfoStatusContent h1{
	font-size: 2rem;
	font-weight: 600;
}
.clientInfoStatusContent h1 span.good{
	color: #91d000;
}
.clientInfoStatusContent a{
	color: #1b2224;
	text-decoration: underline;
}

.workoutScheduleDetails {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #F2F2EA;
	margin: 10px 0;
	padding: 0 20px 0 0;
}
.thirdFieldContainer {
	width: 30%;
	display: inline-block;
}


.halfFieldContainer {
	width: 49% !important;
	display: inline-block !important;
}

.halfFieldContainer:nth-of-type(1) {
	margin-right: 1%;
}

.workoutFrequency, .workoutDay, .workoutTime {
	width: 100% ;
    border: 1px solid #9c9b9b;
    font-size: 0.6rem;
    border-radius: 0 !important;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
}

.dayScheduleLabel {
	height: 100%;
	padding: 20px 0;
	width: 20px;
	background-color: #1B2224;

}

.dayScheduleLabel p {
	transform: rotate(-90deg);
	font-size: .65em;
	width: 45px;
    margin-left: -12.5px;
    color: #fff;
}

#onetimeWeekly, #twoTimesWeekly, #threeTimesWeekly, #fourTimesWeekly {
	display: none;
}
