/*#91d000 green
#1b2224
#f2f2ea white
#0e1112*/
/* Fonts */
@font-face { font-family: "Dharma-ExLight-I"; src: url(../fonts/DharmaGothicE_ExLight_I.otf);}
@font-face { font-family: "Dharma-ExLight"; src: url(../fonts/DharmaGothicE_ExLight_R.otf);}
@font-face { font-family: "Dharma-Light-I"; src: url(../fonts/DharmaGothicE_Light_I.otf);}
@font-face { font-family: "Dharma-Light"; src: url(../fonts/DharmaGothicE_Light_R.otf);}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Dharma-ExLight", helvetica;
}

.loginContainer ul li{
	display: inline;
	margin: 0;
	padding: 0;
}

.loginContainer input {
	width: 80%;
	text-align: center;
	font-family: "proxima-nova";
}

.loginWhite {
	color: rgba(255, 255, 255, 0.5);
	font-family: "proxima-nova";
}

.loginContainer {
	background-image: url(../img/login-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.loginSpaceSignup {
	padding: 1.5em;
	margin-bottom: 1%;
	font-size: 1em;
}

/*.loginNav {
	text-align: right;
}*/

.signupContainer {
	padding: 0;
}

.loginBox {
	background-color: #0e1112;
	max-width: 340px;
	text-align: center;
}

.fa-logo-login {
	padding-top: .5em;
	color: #f2f2ea;
}

.loginText {
	color: #91d000;
	font-size: 3em;
}

.loginbuttonsContainer {
	display: flex;
}

.loginButtons {
	color: #f2f2ea;
	font-family: "proxima-nova";
	font-size: 1.2em;
}

.inputBox {
	margin-bottom: .5em;
}

.aboutInput {
	height: 2em;
	font-size: 1.2em;
}

.loginSignupButton {
	margin: 1em 0; 
}

.loginSignup {
	color: #91d000;
	border: 2px solid #91d000;
	font-family: "proxima-nova";
	font-weight: 100;
	font-size: 1em;
}

.signupHeaders {
	color: white;
	font-family: "proxima-nova";
	border-bottom: 5px solid #91d000;
	font-size: 1.2em;
	font-weight: 100;
	margin: 0 1.7em .5em 1.7em;
}

.signupButton {
	background-color: #91d000;
	height: 3em;
	margin-top: 1em;
}

.signupButtonText {
	color: #f2f2ea;
	background-color: #91d000;
	font-family: "proxima-nova";
	letter-spacing: .1em;
	font-size: 1.5em;
	padding-top: .3em;
	font-weight: 100;
	border: none;
}