/*Syles are arranged by containers, and then where they are located on the page*/
/*media queries at bottom*/

/*=======================*/

/*Template Styles*/

/*=======================*/


/*color template*/

/*#91d000 green
#1b2224 black
#f2f2ea white
#0e1112 black*/


/* Fonts */
@font-face { font-family: "Dharma-ExLight-I"; src: url(../fonts/DharmaGothicE_ExLight_I.otf);}
@font-face { font-family: "Dharma-ExLight"; src: url(../fonts/DharmaGothicE_ExLight_R.otf);}
@font-face { font-family: "Dharma-Light-I"; src: url(../fonts/DharmaGothicE_Light_I.otf);}
@font-face { font-family: "Dharma-Light"; src: url(../fonts/DharmaGothicE_Light_R.otf);}


/*=======================*/

/*element templates*/

/*=======================*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Dharma-ExLight", helvetica;
}

.signupContainer ul li{
	margin: 0;
	padding: 0;
	display: inline;
}

.signupContainer input {
	text-align: center;
	font-family: "proxima-nova";
	width: 100%;
	margin: 0 0 3px 0 !important;
}


.signupFadedText {
	color: rgba(255, 255, 255, 0.5);
	font-family: "proxima-nova";
}

.signupWhiteText {
	color: #f2f2ea;
	font-family: "proxima-nova";
}

.signupHeaderText {
	color: #f2f2ea;
	font-family: "proxima-nova";
	font-weight: 200;
	font-size: 1.3em;
	border-bottom: 5px solid #91d000;
}

.signupHeaders {
	margin-bottom: 7px;
}

/*div button {
	display: inline;
}
*/

/*=======================*/

/*wrapper/container*/

/*=======================*/

.signupContainer {
	background-image: url(../img/login-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 100vh;
	padding: 2em 5em;
}

.signupHeader {
	text-transform: uppercase;
	padding-bottom: 0;
	font-size: 1em;
}

.signupNav {
	text-align: right;
}

.signupBox {
	background-color: #0e1112;
	margin: 3.5em auto;
	max-width: 340px;
	text-align: center;
}

.fa-logo-signup {
	padding-top: .5em;
	color: #f2f2ea;
}

.signupText {
	color: #91d000;
	font-size: 3em;
}

.signupButtons {
	padding: 0;
}

.signupInputSpacing {
	margin-bottom: 6px;
}

.aboutInput {
	height: 2em;
	width: 100%
	font-size: 1.2em;
}

.signupResetPassword {
	/*margin-top: -20px;*/
	margin: 0 0 1em 0;
	text-transform: lowercase;
}

.signupButton {
	width: 100%;
	background-color: #91d000;
	height: 3em;
	margin-top: 1em;
	padding-top: .6em;
}

.signupButtonText {
	color: #f2f2ea;
	font-family: "proxima-nova";
	font-size: 22px;
	border: none;
	background-color: #91d000;
}

.signupCenter {
	text-align: center;
	padding: .5em;
}

/*=======================*/

/*Media Queries*/

/*=======================*/

/*@media (min-width: 480px){
	.login-header{
		padding-bottom: 0 !important;
	}
}*/

@media (max-width: 767px){

	.signupBoxMargins{
		padding: 0;
	}
	.signupBox {
		margin: 0 auto;
	}
	.signupNav {
		text-align: center;
	}
	.signupHeader {
		text-align: center;
	}

	.signupBox{
		background-color: transparent !important;
	}
}

@media (max-width: 480px){
	.signupContainer {
		padding: 0;
	}
	.login-header {
		padding-bottom: 0 !important;
	}
	.fa-logo-login{
		padding-top: 0 !important;
	}
	.login-container {
		padding:.5em 0;
	}
	p.login-text {
		margin-bottom: 0 !important;
	}
}

@media (min-width: 768px){
	.loginNavBottom{
		display: none;
		text-align: center !important;
	}

}

@media (max-width: 767px){
	.login-box {
		margin-top: 0;
	}
}
