<div class="client">
  <div class="trainer-header">
    <div class="stats-container">
        <div class="trainer-statBlock"><h1>{{user.trainees.length}}</h1><span>current clients</span></div>
        <div class="trainer-statBlock"><h1>194</h1><span>client pounds lost</span></div>
        <div class="trainer-statBlock"><h1>109,480</h1><span>lifetime client steps</span></div>
        <div class="trainer-statBlock"><h1>34</h1><span>upcoming sessions</span></div>
    </div>
  </div>
  <div class="container container-trainer">
    <div class="row">
      <div class="col-md-7 clientlist-overview">
              <div class="clientList-header">
                <div class="clientList-s1 trainer-clientlist-s1">
                  CLIENT NAME
                </div>
                <div class="clientList-s2 trainer-clientlist-s2">
                  FOOD INTAKE
                </div>
                <div class="clientList-s3 trainer-clientlist-s2">
                  ACTIVITY
                </div>
              </div>
              <!--  Start Client List Repeats -->
              <div ng-repeat="client in user.trainees" class="clientList-row trainer-clientlist-row" ng-click="goToClient(client)">
                <div class="clientList-s1 trainerclientlist-detail-s1">
                  <img src={{client.fitbit.user.avatar}} alt="profile pic" class="clientList-profileImage"/>
                  {{client.firstName}} {{client.lastName}}
                </div>
                <div class="clientList-s2 trainerclientlist-detail-s2">
                  952/1250 KCAL
                </div>
                <div class="clientList-s3 trainerclientlist-detail-s2">
                  7325/10K STEPS
                </div>
             </div>

            <!-- End Client List Repeats -->
     </div>
     <div class="col-md-5 col-xl-4 sessions-graph-container">
        <div class="trainerlist-sessions">
          <span>Today's Sessions</span>
        </div>
        <div class="sessions-graph">
            <div class="graph-container">
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('5') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('6') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('7') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('8') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('9') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('10') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('11') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('12') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('13') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('14') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('15') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('16') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('17') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('18') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('19') != -1 ? 'active-time': ''"></div>
              <div class="bargraph" ng-class="todaysSessionTimes.indexOf('20') != -1 ? 'active-time': ''"></div>
            </div>
            <div class="label-container">
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('5') != -1 ? 'active-label': ''">5</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('6') != -1 ? 'active-label': ''">6</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('7') != -1 ? 'active-label': ''">7</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('8') != -1 ? 'active-label': ''">8</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('9') != -1 ? 'active-label': ''">9</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('10') != -1 ? 'active-label': ''">10</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('11') != -1 ? 'active-label': ''">11</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('12') != -1 ? 'active-label': ''">12</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('13') != -1 ? 'active-label': ''">1</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('14') != -1 ? 'active-label': ''">2</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('15') != -1 ? 'active-label': ''">3</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('16') != -1 ? 'active-label': ''">4</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('17') != -1 ? 'active-label': ''">5</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('18') != -1 ? 'active-label': ''">6</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('19') != -1 ? 'active-label': ''">7</div>
              <div class="bargraph-label" ng-class="todaysSessionTimes.indexOf('20') != -1 ? 'active-label': ''">8</div>
            </div>
        </div>

      <div class="trainer-upcoming-sessions">
        <ul>
          <li class="trainer-upcoming-sessions-li" ng-repeat="session in todaysSessions | orderBy:'time'">
            <div class="trainer-dateBlock">
              <h1>{{session.calcTime}}<span class="trainer-dateBlock-tod">{{session.timeOfDay}}</span></h1>
            </div>
            <div class="trainer-session-info">
              <h1>{{session.clientName}}</h1>
              <h2>{{session.location}}</h2>
            </div>
            <i class="fa fa-info-circle" ng-click="openInfo(session.client)"></i>
          </li>
        </ul>
      </div>


        </div>
    </div>
  </div>
</div>
<dashboard></dashboard>
