
    <div class="modalbox">

          <div class="newClientHeader">
              <h1>Add A New Client</h1>
          </div>
          <div class="newClientFormContainer">
              <form class="editForm addClientForm" ng-submit="addNewTrainee()">
                  <label for="firstName">First Name</label>
                  <input type="textfield" class="clientAddForm formHalf" name="firstName" ng-model="newTrainee.firstName"/>
                  <label for="lastName">Last Name</label>
                  <input type="textfield" class="clientAddForm formHalf" name="lastName" ng-model="newTrainee.lastName"/>
                  <label for="email">Email</label>
                  <input type="textfield" class="clientAddForm" name="email" ng-model="newTrainee.email"/>
                  <label for="message">Email Message</label>
                  <textarea name="message" class="clientAddForm" ng-model="newTrainee.message"></textarea>
                  <button type="submit" class="modalButton">Send Activation Email</button>
              </form>
          </div>

    </div>
