
    <div class="modalbox">

          <div class="newClientHeader">
              <h1>PLEASE RESET YOUR PASSWORD</h1>
          </div>
          <div class="newClientFormContainer">
              <form class="editForm addClientForm" ng-submit="resetPassword()">
                  <label for="firstName">Password</label>
                  <input type="password" class="clientAddForm formHalf" name="firstName" ng-model="newPassword.passwordOne"/>
                  <label for="lastName">Confirm Password</label>
                  <input type="password" class="clientAddForm formHalf" name="lastName" ng-model="newPassword.passwordTwo"/>
                  <button type="submit" class="modalButton" ng-disabled="newPassword.passwordOne !== newPassword.passwordTwo || newPassword.passwordOne === ''">RESET PASSWORD</button>
              </form>
          </div>

    </div>
