<div class="container-fluid login-container">
    <header class="page-header login-header">
        <div class="row">
            <div class="col-md-6 col-sm-12" ng-controller="LoginControl">
                <p class="login-fadedText login-header">{{CurrentDate | date:'EEEE, dd, MMMM yyyy'}}</p>
            </div>
            <ul class="col-md-6 col-sm-12 login-nav">
                <li><a ui-sref="about" class="login-fadedText">ABOUT </a></li>
                <li class="login-fadedText"> | </li>
                <li><a ui-sref="support" class="login-fadedText"> CONTACT</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="row login-box">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 loginLogoContainer">
                        <i class="fa fa-logo fa-3x fa-logo-login"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="login-text">LOGIN</p>
                    </div>
                </div>

                <form name="login" ng-submit="loginForm()" novalidate>
                    <div class="row">
                        <div class="col-xs-12 login-inputSpacing">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-3 col-xs-6 pull-right login-whiteText" ng-click="getRole('trainer')" ng-class="{logTrainerButton: trainer, logClientButton: !trainer}">
                                    Trainer
                                </div>
                                <div class="col-sm-3 col-xs-6 pull-left login-whiteText" ng-click="getRole('trainee') " ng-class="{logTrainerButton: !trainer, logClientButton: trainer}">
                                    Client
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-md-offset-1 login-noPadding">
                            <input type="email" name="email" class="aboutInput login-inputSpacing" ng-model="user.email" placeholder="email" required/>
                            <input type="password" name="password" class="aboutInput" ng-model="user.password" placeholder="password" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 loginResetPassword">
                            <a href="#" class="login-fadedText">reset password</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 loginSignupButton">
                            <a ui-sref="signup" class="loginSignup">SIGN UP</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 loginButton">
                            <button type="submit" name="login" class="login-button">LOGIN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row loginNavBottom">
            <div class="col-med-12 login-center">
                <a ui-sref="about" class="login-fadedText">ABOUT </a>
            </div>
            <div class="col-med-12 login-center">
                <a ui-sref="support" class="login-fadedText"> CONTACT</a>
            </div>
        </div>
    </div>
</div>
