<div class="client">
  <div class="client-header">
    <div class="client-header-section client-profileInfo">
      <img ng-src="{{currentClient.fitbit.user.avatar || '/img/user-default.png'}}" alt="Profile Image" class="client-profileImage"/>
      <div class="client-profileInfo-Name">
        <h1>{{currentClient.firstName.toUpperCase()}} {{currentClient.lastName.toUpperCase()}}</h1>
        <h2 ng-if="currentClient.fitbit.authorized">{{currentClient.fitbit.user.age}} {{currentClient.fitbit.user.gender.charAt(0)}} | {{currentClient.displayHeight}} | {{currentClient.fitbit.user.weight}} LBS</h2>
      </div>
    </div>
    <div class="client-header-section client-profileStats">
      <div class="client-statBlock">
        <i class="fa fa-scale"></i>
        <h1>{{(currentClient.fitbit.user.weight - currentClient.starting.weight).toFixed(1)}} lbs</h1>
      </div>
      <div class="client-statBlock">
        <i class="fa fa-bodyfat"></i>
        <h1>{{(currentClient.fitbit.bodyMeasurements.fat - currentClient.starting.fat).toFixed(1)}}% bf</h1>
      </div>
      <div class="client-statBlock">
        <i class="fa fa-bmi"></i>
        <h1>{{(currentClient.fitbit.bodyMeasurements.bmi - currentClient.starting.bmi).toFixed(1)}} bmi</h1>
      </div>
    </div>
  </div>
  <div class="client-info" ng-show="currentClient.fitbit.authorized">
    <div class="client-info-section">
      <div class="info-cal-header">
        <div class="info-header-content">
          <label class="editGoalLable" ng-class="{showGoalLabel: calGoalLabelVisable}">{{calEditText}} GOAL</label>
          <i class="fa fa-{{calEditIcon}} editGoal" ng-class="{editingIcon: editingCalGoal}" ng-mouseover="showCalGoalLabel()" ng-mouseleave="hideCalGoalLabel()" ng-click="editCalGoal()"></i>
          <i class="fa fa-apple"></i>
          <h2>TODAY'S CALORIE GOAL</h2>
          <h1><span>{{currentClient.fitbit.nutrition.daily.calories}}</span> / </h1><h1 ng-hide="editingCalGoal">{{currentClient.fitbit.nutrition.goals.calories}}</h1><input ng-show="editingCalGoal" type="textfield" name="calGoalText" ng-model="currentClient.fitbit.nutrition.goals.calories">
        </div>
      </div>
      <ul>
        <li><h1><span>CALORIES:</span> {{currentClient.fitbit.nutrition.daily.calories}} cal<span class="cal-list-percent status-good">-10%</span></h1></li>
        <li><h1><span>CARBS:</span> {{currentClient.fitbit.nutrition.daily.carbs}} g<span class="cal-list-percent status-good">-5%</span></h1></li>
        <li><h1><span>FAT:</span> {{currentClient.fitbit.nutrition.daily.fat}} g<span class="cal-list-percent status-bad">+7%</span></h1></li>
        <li><h1><span>FIBER:</span> {{currentClient.fitbit.nutrition.daily.fiber}} g<span class="cal-list-percent status-bad">-2%</span></h1></li>
        <li><h1><span>PROTEIN:</span> {{currentClient.fitbit.nutrition.daily.protein}} g<span class="cal-list-percent status-bad">-1%</span></h1></li>
        <li><h1><span>SODIUM:</span> {{currentClient.fitbit.nutrition.daily.sodium}} g<span class="cal-list-percent status-bad">-15%</span></h1></li>
        <li><h1><span>WATER:</span> {{currentClient.fitbit.nutrition.daily.water}} ml<span class="cal-list-percent status-good">0%</span></h1></li>
      </ul>
    </div>
    <div class="client-info-section">
      <div class="info-step-header">
        <div class="info-header-content">
          <label class="editGoalLable" ng-class="{showGoalLabel: stepGoalLabelVisable}">{{stepEditText}} GOAL</label>
          <i class="fa fa-{{stepEditIcon}} editGoal" ng-class="{editingIcon: editingStepGoal}" ng-mouseover="showStepGoalLabel()" ng-mouseleave="hideStepGoalLabel()" ng-click="editStepGoal()"></i>
          <i class="fa fa-shoe"></i>
          <h2>TODAY'S STEP GOAL</h2>
          <h1><span>{{currentClient.fitbit.steps.daily}}</span> / </h1><h1 ng-hide="editingStepGoal">{{currentClient.fitbit.steps.goal}}</h1><input ng-show="editingStepGoal" type="textfield" name="stepGoalText" ng-model="currentClient.fitbit.steps.goal">
        </div>
      </div>
      <ul>
        <li ng-repeat="stepLog in currentClient.fitbit.stepLog | orderBy: '-dateTime'" ><h1><span>{{formatDate(stepLog.dateTime)}}:</span> {{stepLog.value}} / {{currentClient.fitbit.steps.goal}} <span class="cal-list-percent status-bad"><i ng-class="{greenDotParty: stepLog.value >= currentClient.fitbit.steps.goal}" class="fa fa-primitive-dot"></i></span></h1></li>
      </ul>
    </div>
    <div class="client-info-section">
      <div class="upcoming-sessions">
        <h1>TRAINING SCHEDULE</h1>
        <h2>WEEKLY</h2>
        <ul>
          <li class="upcoming-sessions-li" ng-repeat="session in clientsSessions">
            <div class="dateBlock">
              <h2>{{getWeekday(session.dayOfWeek)}}</h2>
              <h1>{{session.calcTime}}<span class="dateBlock-tod">{{session.timeOfDay}}</span></h1>
            </div>
            <div class="session-info">
              <h1>{{clientTrainer}}</h1>
              <h2>{{session.location}}</h2>
            </div>
          </li>
        </ul>
      </div>
      <div class="measurements">
        <h1 class="title">MEASUREMENTS</h1>
        <ul>
          <li><h1><span>NECK: </span></h1><h1 ng-hide="editingNeck"> {{currentClient.bodyMeasurements.neck}}"<!-- / 40 cm--></h1><input ng-show="editingNeck" type="textfield" ng-model="currentClient.bodyMeasurements.neck" /><h1><span class="cal-list-percent status-good" ng-click="editNeck()"><i class="fa fa-{{neckEditIcon}} pointer"></i></span></h1></li>
          <li><h1><span>CHEST: </span></h1><h1 ng-hide="editingChest"> {{currentClient.bodyMeasurements.chest}}"<!-- / 40 cm--></h1><input ng-show="editingChest" type="textfield" ng-model="currentClient.bodyMeasurements.chest" /><h1><span class="cal-list-percent status-good" ng-click="editChest()"><i class="fa fa-{{chestEditIcon}} pointer"></i></span></h1></li>
          <li><h1><span>WAIST: </span></h1><h1 ng-hide="editingWaist"> {{currentClient.bodyMeasurements.waist}}"<!-- / 40 cm--></h1><input ng-show="editingWaist" type="textfield" ng-model="currentClient.bodyMeasurements.waist" /><h1><span class="cal-list-percent status-good" ng-click="editWaist()"><i class="fa fa-{{waistEditIcon}} pointer"></i></span></h1></li>
          <li><h1><span>HIPS: </span></h1><h1 ng-hide="editingHips"> {{currentClient.bodyMeasurements.hips}}"<!-- / 40 cm--></h1><input ng-show="editingHips" type="textfield" ng-model="currentClient.bodyMeasurements.hips" /><h1><span class="cal-list-percent status-good" ng-click="editHips()"><i class="fa fa-{{hipsEditIcon}} pointer"></i></span></h1></li>
          <li><h1><span>THIGH: </span></h1><h1 ng-hide="editingThigh"> {{currentClient.bodyMeasurements.thigh}}"<!-- / 40 cm--></h1><input ng-show="editingThigh" type="textfield" ng-model="currentClient.bodyMeasurements.thigh" /><h1><span class="cal-list-percent status-good" ng-click="editThigh()"><i class="fa fa-{{thighEditIcon}} pointer"></i></span></h1></li>
          <li><h1><span>CALF: </span></h1><h1 ng-hide="editingCalf"> {{currentClient.bodyMeasurements.calf}}"<!-- / 40 cm--></h1><input ng-show="editingCalf" type="textfield" ng-model="currentClient.bodyMeasurements.calf" /><h1><span class="cal-list-percent status-good" ng-click="editCalf()"><i class="fa fa-{{calfEditIcon}} pointer"></i></span></h1></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="noAuth" ng-hide="currentClient.fitbit.authorized || user.trainees">
    <div class="noAuth-container">
      <div class="noAuth-img-container">
        <img src="/img/fitbit-outline.png">
      </div>
      <div class="noAuth-text-container">
        <h1>Get Started</h1>
        <h2><a href="/auth/fitbit">Connect To Your Fitbit Account</a></h2>
      </div>
    </div>
  </div>

  <div class="noAuth" ng-hide="currentClient.fitbit.authorized || !user.trainees">
    <div class="noAuth-container">
      <div class="noAuth-img-container">
        <img src="/img/fitbit-outline.png">
      </div>
      <div class="noAuth-text-container">
        <h1>Client Data Not Available</h1>
        <h2>Your Client is not yet connected to FlexTrax with their fitbit account.</h2>
      </div>
    </div>
  </div>
</div>
</div>


<dashboard></dashboard>
