<div class="clientList">
  <div class="clientList-header">
    <div class="clientList-s1">
      CLIENT NAME
    </div>
    <div class="clientList-s2">
      FOOD INTAKE
    </div>
    <div class="clientList-s3">
      ACTIVITY
    </div>
  </div>
  <div class="clientList-row" ng-repeat="client in user.trainees" ng-click="goToClient(client)">
    <div class="clientList-s1">
     <img ng-src="{{client.fitbit.user.avatar || '/img/user-default.png'}}" alt="profile pic" class="clientList-profileImage"/> {{client.firstName}} {{client.lastName}}
    </div>
    <div class="clientList-s2">
       {{client.fitbit.nutrition.daily.calories || 0}}
                  /{{client.fitbit.nutrition.goals.calories || 2000}} KCAL
    </div>
    <div class="clientList-s3">
      {{client.fitbit.steps.daily || 0}}
                  /{{(client.fitbit.steps.goal/1000) || 10}}k STEPS
    </div>
    <div class="clientList-s4">
      <a ng-click="goToClient(client)">VIEW MORE</a>
    </div>
    <div class="clientList-s5">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  
</div>
<dashboard></dashboard>



