<div class="clientList">
  <div class="clientList-header">
    <div class="clientList-s1">
      CLIENT NAME
    </div>
    <div class="clientList-s2">
      FOOD INTAKE
    </div>
    <div class="clientList-s3">
      ACTIVITY
    </div>
  </div>
  <div class="clientList-row" ng-click="goToState('client')">
    <div class="clientList-s1">
      <img src="img/users/user-five.jpg" alt="Profile Pic" class="clientList-profileImage"/> TONYA CRUZ
    </div>
    <div class="clientList-s2">
      952/1250 KCAL
    </div>
    <div class="clientList-s3">
      7325/10K STEPS
    </div>
    <div class="clientList-s4">
      <a ng-click="goToState('client')">VIEW MORE</a>
    </div>
    <div class="clientList-s5">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="clientList-row" ng-click="goToState('client')">
    <div class="clientList-s1">
      <img src="img/users/user-five.jpg" alt="Profile Pic" class="clientList-profileImage"/> TONYA CRUZ
    </div>
    <div class="clientList-s2">
      952/1250 KCAL
    </div>
    <div class="clientList-s3">
      7325/10K STEPS
    </div>
    <div class="clientList-s4">
      <a ng-click="goToState('client')">VIEW MORE</a>
    </div>
    <div class="clientList-s5">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <div class="clientList-row" ng-click="goToState('client')">
    <div class="clientList-s1">
      <img src="img/users/user-five.jpg" alt="Profile Pic" class="clientList-profileImage"/> TONYA CRUZ
    </div>
    <div class="clientList-s2">
      952/1250 KCAL
    </div>
    <div class="clientList-s3">
      7325/10K STEPS
    </div>
    <div class="clientList-s4">
      <a ng-click="goToState('client')">VIEW MORE</a>
    </div>
    <div class="clientList-s5">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
<dashboard></dashboard>
